@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-back-drop: #14201d;
  --primary: #07a7de;
  --secondary: #23bbab;
  --pale-secondary: #7ef4d2;
  --saturated-green: #00ee60;
  --text-title: #d1d5db;
  --text-subtitle: #9ca3af;
  background-color: var(--bg-back-drop);
}

html {
  scroll-behavior: smooth;
}
