@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-back-drop: #2c2d29;
  --primary: #00a8e0;
  --secondary: #2fc29e;
  --pale-secondary: #7ef4d2;
  --saturated-green: #00ef5d;
  --text-title: #d1d5db;
  --text-subtitle: #9ca3af;
  background-color: var(--bg-back-drop);
}

html {
  scroll-behavior: smooth;
}
