@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-back-drop: #2C2D29;
    --primary: #00A8E0;
    --secondary: #2FC29E;
    --saturated-green: #00EF5D;
    background-color: var(--bg-back-drop);
} 